@page
@model aws_parameter_store_manager.Pages.IndexModel

<form method="post" class="container text-left pt-2 mb-3">
    <div class="form-row form-group">
        <div class="col">
            <a class="btn btn-primary btn-sx pull-left" asp-page="/Parameter/Add">
                <i class="glyphicon glyphicon-plus"></i> Add New Parameter
            </a>
        </div>
    </div>
    @{
        if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong>@Model.Message ! </strong>
            </div>
        }
    }
</form>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Parameter Name</th>
            <th scope="col">Value</th>
            <th scope="col">Type</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Parameters)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Value</td>
                <td>@item.Type.Value</td>
                <td>

                    <a asp-page="/Parameter/Edit" asp-route-id="@item.Name">
                        Edit
                    </a>|
<form style="display: inline-block;" method="POST">   
                    <input value="Delete" class="btn btn-danger btn-sm py-0" style="font-size: 0.8em;" asp-page-handler="Delete" asp-route-id="@item.Name" type="submit"
                        onclick="return confirm('Are you sure to delete this parameter?');" />
                        
                    
</form>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- pager -->
@if (Model.Pager.Pages.Any())
{
    <div class="container">
    <div class="row">
        <div class="col-md-10">
            <nav class="table-responsive">
                <ul class="pagination justify-content-center d-flex flex-wrap">
                    @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/">First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/?currentPage=@(Model.Pager.CurrentPage - 1)">Previous</a>
                            </li>
                        }

                        @foreach (var currentPage in Model.Pager.Pages)
                        {
                            <li class="page-item @(currentPage == Model.Pager.CurrentPage ? "active" : "")">
                                <a class="page-link" href="/?currentPage=@currentPage">@currentPage</a>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="/?currentPage=@(Model.Pager.CurrentPage + 1)">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="/?currentPage=@(Model.Pager.TotalPages)">Last</a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
            <form method="post">
                <div class="align-self-end">
                    <label asp-for="PageSize">Items per page</label>
                    <select asp-for="PageSize" asp-items="Model.PageSizeList" class="form-control form-control-sm"
                        onchange="this.form.submit()"></select>
                </div>
            </form>
        </div>
    </div>
}

 @* <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

<div class="container-fluid">
   <table id="grid"></table>
</div>



<script type="text/javascript">
        $(document).ready(function () {
            var grid = $('#grid').grid({
                dataSource: '/Index?handler=Parameters',
                columns: [
                    { field: 'name', title: 'Parameter Name', sortable: true },
                    { field: 'value', title: 'Value'},
                    { field: 'type', title: 'Type'},
                    { field: 'version', title: 'Version' }
                ],
                pager: { limit: 5 }
            });
        });
   
</script> *@